<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tritonitsolutions.layaltydemo" >
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tritonitsolutions.loyaltydemo.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tritonitsolutions.loyaltydemo.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.tritonitsolutions.loyaltydemo.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.tritonitsolutions.loyaltydemo.ShopActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.tritonitsolutions.loyaltydemo.FeedbackActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.tritonitsolutions.loyaltydemo.NewArrivalActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.tritonitsolutions.loyaltydemo.MyProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.tritonitsolutions.loyaltydemo.NotificationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.tritonitsolutions.loyaltydemo.NewUserActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.tritonitsolutions.loyaltydemo.LoyaltyHistoryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.tritonitsolutions.loyaltydemo.WishListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.tritonitsolutions.loyaltydemo.LoyaltyActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.tritonitsolutions.loyaltydemo.CustomerHistoryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.tritonitsolutions.loyaltydemo.ShopCategoryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.tritonitsolutions.loyaltydemo.MenActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.tritonitsolutions.loyaltydemo.WomenActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.tritonitsolutions.loyaltydemo.KidsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.tritonitsolutions.loyaltydemo.MeansDetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>
